{{template "preamble"}}

import (
  "fmt"
  "runtime"
  "unsafe"

  "github.com/LouisBrunner/go-dot-extension/pkg/gdc"
)

// FIXME: avoid unused imports
var _ = fmt.Sprintf("")

{{$Class := mapClass .Name -}}
type ptrsFor{{$Class}}List struct {
{{- range .Constructors}}
  ctr{{template "function_name" .}}Fn gdc.PtrConstructor
{{- end}}
{{- if .HasDestructor}}
  destructorFn gdc.PtrDestructor
{{- end}}
{{- range .Methods}}
  method{{mapMethod .Name}}Fn gdc.PtrBuiltInMethod
{{- end}}
{{- range .Operators}}{{if ne .RightType "Variant"}}
  operator{{template "operator_name" .}}Fn gdc.PtrOperatorEvaluator
{{- end}}{{end}}
{{- range .Members}}
  member{{.Name}}GetterFn gdc.PtrGetter
  member{{.Name}}SetterFn gdc.PtrSetter
{{- end}}
{{- if ne $Class "Nil" }}
  toVariantFn gdc.TypeFromVariantConstructorFunc
  fromVariantFn gdc.VariantFromTypeConstructorFunc
{{- end}}
}

var ptrsFor{{$Class}} ptrsFor{{$Class}}List

func init{{$Class}}Ptrs(iface gdc.Interface) {
{{- range .Constructors}}
  ptrsFor{{$Class}}.ctr{{template "function_name" .}}Fn = ensurePtr(iface.VariantGetPtrConstructor(gdc.VariantType{{pascalCased $.Name}}, {{.Index}}))
{{- end}}
{{- if .HasDestructor}}
  ptrsFor{{$Class}}.destructorFn = ensurePtr(iface.VariantGetPtrDestructor(gdc.VariantType{{$Class}}))
{{- end}}
{{- range .Methods}}
  {
    methodName := StringNameFromStr("{{.Name}}")
    defer methodName.Destroy()
    ptrsFor{{$Class}}.method{{mapMethod .Name}}Fn = ensurePtr(iface.VariantGetPtrBuiltinMethod(gdc.VariantType{{pascalCased $.Name}}, methodName.AsCPtr(), {{.Hash}}))
  }
{{- end}}
{{- range .Operators}}{{if ne .RightType "Variant"}}
  ptrsFor{{$Class}}.operator{{template "operator_name" .}}Fn = ensurePtr(iface.VariantGetPtrOperatorEvaluator(gdc.VariantOp{{mapOperator .Name}}, gdc.VariantType{{pascalCased $.Name}}, {{if ne .RightType ""}}gdc.VariantType{{pascalCased .RightType}}{{else}}gdc.VariantTypeNil{{end}}))
{{- end}}{{end}}
{{- range .Members}}
  {
    memberName := StringNameFromStr("{{.Name}}")
    defer memberName.Destroy()
    ptrsFor{{$Class}}.member{{.Name}}GetterFn = ensurePtr(iface.VariantGetPtrGetter(gdc.VariantType{{pascalCased $.Name}}, memberName.AsCPtr()))
    ptrsFor{{$Class}}.member{{.Name}}SetterFn = ensurePtr(iface.VariantGetPtrSetter(gdc.VariantType{{pascalCased $.Name}}, memberName.AsCPtr()))
  }
{{- end}}
{{- if ne $Class "Nil" }}
  ptrsFor{{$Class}}.toVariantFn = ensurePtr(iface.GetVariantToTypeConstructor(gdc.VariantType{{pascalCased $.Name}}))
  ptrsFor{{$Class}}.fromVariantFn = ensurePtr(iface.GetVariantFromTypeConstructor(gdc.VariantType{{pascalCased $.Name}}))
{{- end}}
{{- template "class_init_constants" .}}
}

type {{$Class}} struct {
  data   *[classSize{{$Class}}]byte
  iface  gdc.Interface
  pinner runtime.Pinner
}

{{- template "class_enums" .}}

{{- define "function_name"}}
{{- if .Arguments}}From{{- range .Arguments}}{{pascalCased (mapType .Type)}}{{end}}{{else}}{{end}}
{{- end}}

// Constructors
func new{{$Class}}() *{{$Class}} {
  me := &{{$Class}}{
    data:   new([classSize{{$Class}}]byte),
    iface:  giface,
  }
  me.pinner.Pin(me)
  me.pinner.Pin(me.AsTypePtr())
  return me
}

{{- range .Constructors}}

func New{{$Class}}{{template "function_name" .}}({{range .Arguments}}{{mapName .Name}} {{mapWideType .Type}}, {{end}}) *{{$Class}} {
  pinner := runtime.Pinner{}
  defer pinner.Unpin()
{{- range .Arguments}}
{{- if not (isExported (mapType .Type))}}
  pinner.Pin(&{{mapName .Name}})
{{- end -}}
{{ end}}
  me := new{{$Class}}()
  me.iface.CallPtrConstructor(ensurePtr(ptrsFor{{$Class}}.ctr{{template "function_name" .}}Fn), me.asUninitialized(), unsafe.SliceData([]gdc.ConstTypePtr{
    {{- range .Arguments}}
{{- if isExported (mapType .Type) -}}
  {{mapName .Name}}.AsCTypePtr()
{{- else -}}
  gdc.ConstTypePtr(&{{mapName .Name}})
{{- end -}}
    , {{ end -}}
  }))
  return me
}
{{- end}}

// Destructor
func (me *{{$Class}}) Destroy() {
{{- if .HasDestructor}}
	me.iface.CallPtrDestructor(ensurePtr(ptrsFor{{$Class}}.destructorFn), me.AsTypePtr())
{{- end}}
  me.pinner.Unpin()
}
{{if ne $Class "Nil" }}
// Variant support
func (me *Variant) As{{$Class}}() (*{{$Class}}, error) {
	if me.Type() != gdc.VariantType{{pascalCased .Name}} {
		return nil, fmt.Errorf("variant is not a {{$Class}}")
	}
  bclass := new{{$Class}}()
	me.iface.CallTypeFromVariantConstructorFunc(ensurePtr(ptrsFor{{$Class}}.toVariantFn), bclass.asUninitialized(), me.AsPtr())
	return bclass, nil
}

func (me *{{$Class}}) AsVariant() *Variant {
  va := newVariant()
  va.inner = me
  me.iface.CallVariantFromTypeConstructorFunc(ensurePtr(ptrsFor{{$Class}}.fromVariantFn), va.asUninitialized(), me.AsTypePtr())
  return va
}
{{end}}
// Pointers
func {{$Class}}FromPtr(ptr gdc.ConstTypePtr) *{{$Class}} {
  me := new{{$Class}}()
  dataFromPtr(me.data[:], ptr)
  return me
}

func (me *{{$Class}}) Type() gdc.VariantType {
  return gdc.VariantType{{pascalCased $.Name}}
}

func (me *{{$Class}}) AsTypePtr() gdc.TypePtr {
  return gdc.TypePtr(unsafe.Pointer(me.data))
}

func (me *{{$Class}}) AsCTypePtr() gdc.ConstTypePtr {
  return gdc.ConstTypePtr(me.AsTypePtr())
}

func (me *{{$Class}}) asUninitialized() gdc.UninitializedTypePtr {
  return gdc.UninitializedTypePtr(me.AsTypePtr())
}
{{if or (eq .Name "bool") (or (eq .Name "int") (eq .Name "float"))}}
func (me *{{$Class}}) Get() {{mapWideType .Name}} {
  return *(*{{mapWideType .Name}})(unsafe.Pointer(me.data))
}
{{- else if startsWith $Class "Packed" -}}
func (me *{{$Class}}) Get(i int64) {{mapPackedType $Class}} {
  ret := me.iface.{{$Class}}OperatorIndexConst(me.AsCTypePtr(), gdc.Int(i))
  return {{castPackedType $Class "ret"}}
}
{{- end}}

// Methods
{{- range .Methods}}

func {{if .IsStatic }}{{$Class}}{{else}}(me *{{$Class}}) {{end }}{{mapMethod .Name -}}
({{range .Arguments}}{{mapName .Name}} {{mapWideType .Type}}, {{end}}
{{- if .IsVarArg}}varargs ...Variant{{end -}}
) {{mapWideType .ReturnType}} {
{{if .ReturnType}}  ret := New{{mapClass .ReturnType}}()
{{if not (isExported (mapType .ReturnType))}}  defer ret.Destroy(){{end}}
{{end}}{{range $i, $e := .Arguments}}
{{- if not (isExported (mapType .Type))}}  varg{{ $i }} := New{{mapClass .Type}}From{{pascalCased (mapType .Type)}}({{mapName .Name}})
  defer varg{{ $i }}.Destroy()
{{- end}}
{{ end}}  args := []gdc.ConstTypePtr{
    {{- range $i, $e := .Arguments}}
{{- if isExported (mapType .Type) -}}
  {{mapName .Name}}
{{- else -}}
  varg{{ $i }}
{{- end -}}
    .AsCTypePtr(), {{ end -}}
  }
{{if .IsVarArg}}  for _, arg := range varargs {
    args = append(args, arg.AsCTypePtr())
  }{{end}}

  giface.CallPtrBuiltInMethod(ensurePtr(ptrsFor{{$Class}}.method{{mapMethod .Name}}Fn), {{if .IsStatic}}nil{{else}}me.AsTypePtr(){{end}}, unsafe.SliceData(args), {{if .ReturnType}}ret.AsTypePtr(){{else}}nil{{end}}, len(args))
{{if .ReturnType}}  return {{if isExported (mapType .ReturnType)}}*ret{{else}}ret.Get(){{end}}
{{end -}}
}
{{- end}}

// Operators
{{- define "operator_name" -}}
{{mapMethod (mapOperator .Name)}}{{if ne .RightType ""}}{{pascalCased (mapType .RightType)}}{{end -}}
{{- end -}}

{{- range .Operators}}

func (me *{{$Class}}) {{template "operator_name" . -}}
({{if ne .RightType ""}}{{if isExported (mapType .RightType)}}right{{else}}rightArg{{end}} {{mapWideType .RightType}}{{end}}) {{mapWideType .ReturnType}} {
{{- if ne .RightType ""}}{{if not (isExported (mapType .RightType))}}
  right := New{{mapClass .RightType}}From{{pascalCased (mapType .RightType)}}(rightArg)
  defer right.Destroy()
{{end}}{{end}}
  opPtr := {{if eq .RightType "Variant" -}}
me.iface.VariantGetPtrOperatorEvaluator(gdc.VariantOp{{mapOperator .Name}}, me.Type(), right.Type())
{{- else -}}
ptrsFor{{$Class}}.operator{{template "operator_name" .}}Fn
{{- end}}
  ret := New{{mapClass .ReturnType}}()
  me.iface.CallPtrOperatorEvaluator(ensurePtr(opPtr), me.AsCTypePtr(), {{if ne .RightType ""}}right.AsCTypePtr(){{else}}nil{{end}}, ret.AsTypePtr())
  return {{if isExported (mapType .ReturnType)}}*ret{{else}}ret.Get(){{end}}
}
{{- end}}

// Members
{{- range .Members}}

func (me *{{$Class}}) {{mapMethod .Name}}() {{mapWideType .Type}} {
  ret := New{{mapClass .Type}}()
  me.iface.CallPtrGetter(ensurePtr(ptrsFor{{$Class}}.member{{.Name}}GetterFn), me.AsCTypePtr(), ret.AsTypePtr())
  return {{if isExported (mapType .Type)}}*ret{{else}}ret.Get(){{end}}
}

func (me *{{$Class}}) Set{{pascalCased .Name}}(value {{mapWideType .Type}}) {
{{- if isExported (mapType .Type)}}
  valueV := value
{{- else}}
  valueV := New{{mapClass .Type}}From{{pascalCased (mapType .Type)}}(value)
  defer valueV.Destroy()
{{- end}}
  me.iface.CallPtrSetter(ensurePtr(ptrsFor{{$Class}}.member{{.Name}}SetterFn), me.AsTypePtr(), valueV.AsCTypePtr())
}
{{- end}}
