{{template "preamble"}}

import (
// TODO: disgusting imports
{{if eq .Name "AudioEffectInstance"}}  "unsafe"{{end}}
{{if eq .Name "MovieWriter"}}  "unsafe"{{end}}
{{if eq .Name "PhysicsServer2DExtension"}}  "unsafe"{{end}}
{{if eq .Name "PhysicsDirectSpaceState2DExtension"}}  "unsafe"{{end}}
{{if eq .Name "PhysicsDirectSpaceState3DExtension"}}  "unsafe"{{end}}
{{if eq .Name "PhysicsServer3DRenderingServerHandler"}}  "unsafe"{{end}}
{{if eq .Name "ScriptExtension"}}  "unsafe"{{end}}
  "github.com/LouisBrunner/go-dot-extension/pkg/gdc"
)

{{$Class := mapClass .Name -}}
type {{$Class}} struct {
  obj gdc.ObjectPtr
}

func (me *{{$Class}}) SetBaseObject(obj gdc.ObjectPtr) {
  me.obj = obj
}

func (me *{{$Class}}) BaseClass() string {
  return "{{.Name}}"
}

{{template "class_enums" .}}

func (me *{{$Class}}) AsTypePtr() gdc.TypePtr {
  return gdc.TypePtr(me.obj)
}

func (me *{{$Class}}) AsCTypePtr() gdc.ConstTypePtr {
  return gdc.ConstTypePtr(me.obj)
}

{{template "class_methods" .}}

// TODO: properties (class)

// TODO: signals (class)
