name: Build a Go project

on:
  push:
  pull_request:

jobs:
  vet:
    runs-on: ubuntu-latest
    name: Vet code
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-go@v4
        with:
          go-version: "^1.20"

      - name: Vet
        run: |
          make vet
        shell: bash

  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-go@v4
        with:
          go-version: "^1.20"

      - name: Test
        run: |
          make test-ci
        shell: bash

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: report.xml
          check_name: Tests results

      - name: Coverage
        run: |
          make coverage-ci
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
